/* Header + nav */

#nav > ul > li > a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}
#header h1 a {
	text-shadow: 4px 4px #000;
}
#header header > p {
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/* new_reading */

.newLivre > tbody > tr > td > div > input[type="radio"] {
	-webkit-appearance: radio;
	width: 5%;
}
.newLivre > tbody > tr > td > div > div > input[type="radio"] {
	-webkit-appearance: radio;
	width: 5%;
}

.block_style_livre {
	display: none;
	margin: 20px;
}


/* display_book */


.oeuvre {
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}
.oeuvre p {
	margin: 0;
}

.titre {
	font-size: 35px;
	color: #df7366;
	font-family: Comic Sans MS;
	font-weight: bold;
}
.auteur, .nationalite, .parution {
	text-align: right;
	color: #808080;
	margin: 0;
}
.personnages {
	margin-left: 20px;
}
.resume {
	color: #df7366;
	font-family: Comic Sans MS;
	font-weight: bold;
}
