/* Header + nav */

#nav > ul > li > a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}
#header h1 a {
	text-shadow: 4px 4px #000;
}
#header header > p {
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

#second_nav {
	border: 2px solid #df7366;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 10px 8px #888888;
	padding: 20px;
	margin: 20px;
    color: black;
    text-align: left;
	text-decoration: none;
	background-color: white;
    z-index: 1;
}
#second_nav ul, #second_nav li {
    list-style: none;
}
#second_nav a {
	border-bottom: none;
}


/* footer */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #df7366;
}
.overlay:hover {
    opacity: 0.5;
}
.overlay_text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.retour_top {
    bottom: 100px;
    right: 70px;
    position: fixed;
    z-index: 1;
}


/* new_reading + connexion */

.formulaire > tbody > tr > td > div > input[type="radio"] {
	-webkit-appearance: radio;
	width: 5%;
}
.formulaire > tbody > tr > td > div > div > input[type="radio"] {
	-webkit-appearance: radio;
	width: 5%;
}
input, select {
	margin-bottom: 10px;
}

.form_col1 {
	font-weight: bold;
	width: 20%;
}

.block_style_livre {
	display: none;
	margin: 20px;
}


/* display_book */

.oeuvre {
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}
.oeuvre p {
	margin: 0;
}
.oeuvre p::first-letter {
	text-transform: uppercase;
}

.titre {
	font-size: 35px;
	color: #df7366;
	font-family: Comic Sans MS;
	font-weight: bold;
}
.auteur, .nationalite, .parution {
	text-align: right;
	color: #808080;
	margin: 0;
}
.personnages {
	margin-left: 20px;
}
.resume {
	color: #df7366;
	font-family: Comic Sans MS;
	font-weight: bold;
}

/* icons */

.fa-plus:before, .fa-times:before, .fa-edit:before, .fa-bars:before {
    font-size: 25px;
    color: #df7366;
}
.fa:hover {
    cursor: pointer;
}